/* CABEÇALHO */
.header{
    background-color: var(--header-background-color);
}

.header__content{
    padding-block: 1.9rem;
    padding-left: 3.5rem;
}

.header__logo--desktop{
    width: 86.4rem;
}

.header__info{
    background-image: url('../img/bg-login.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 29.1rem;
    height: 42rem;

    position: absolute;
    top: 0;
    right: 7.8rem;

    padding-top: 3rem;
    padding-inline: 3rem;

    text-align: center;
}

.header__login{
    margin-bottom: 3rem;
}

.header__login, .header__carrinho{
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.header__info img{
    width: 5rem;
}

.header__info p{
    color: var(--default-text-color);
    
    font-size: 3rem;
    text-transform: uppercase;
}

.header__info p:hover{
    color: var(--light-hover);

    transition: all 200ms;
}

.button-open img{
    width: 4rem;
}

.header__logoLink--mobile, .header__logo--mobile, .button-open{
    display: none;
}

@media screen and (max-width: 1700px) {
    .header__logo--desktop{
        width: 70rem;
    }

    .header__info{
        width: 25rem;
    
        right: 5rem;
    
        padding-top: 2rem;
        padding-inline: 2rem;
    }

    .header__info img{
        width: 4rem;
    }
    
    .header__info p{
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1500px) {
    .header__logo--desktop{
        width: 55rem;
    }

    .header__info{
        padding-top: 4rem;

        width: 20rem;
    }

    .header__login, .header__carrinho{
        gap: 2rem;
    }

    .header__info img{
        width: 3rem;
    }
    
    .header__info p{
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 1200px) {
    .header__logo--desktop{
        width: 42rem;
    }

    .header__info{
        padding-top: 3rem;

        right: 3.6rem;

        width: 16rem;
    }

    .header__login, .header__carrinho{
        gap: 1.6rem;
    }

    .header__info img{
        width: 2.4rem;
    }
    
    .header__info p{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 995px) {
    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-inline: 3.5rem;
    }

    .header__info{
        display: none;
    }

    .button-open{
        display: block;
    }
}

@media screen and (max-width: 630px) {
    .header__logoLink--desktop, .header__logo--desktop{
        display: none;
    }

    .header__logoLink--mobile{
        display: block;
    }

    .header__logo--mobile{
        display: block;

        width: 10rem;
    }
}

/* NAVEGAÇÃO */
.header__nav{
    background-color: var(--nav-background-color);
}

.header__lista{
    display: flex;
    align-items: center;
    gap: 10.2rem;

    padding-block: 2.2rem;
    padding-left: 6.2rem;
}

.header__link{
    color: var(--nav-text-color);
    font-size: 3rem;
}

.header__link:hover{
    color: var(--dark-hover);

    transition: all 200ms;
}

@media screen and (max-width: 1700px) {
    .header__link{
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1500px) {
    .header__lista{
        gap: 7rem;
    }

    .header__link{
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 1200px) {
    .header__lista{
        gap: 5.2rem;
    }

    .header__link{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 995px) {
    .header__nav{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .header__content{
        padding-inline: 2.5rem;
    }
}
